.attribution {
}

body {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90em;
  height: 50em;
  justify-content: center;
  align-items: center;
}

/*===============box styles=====================*/
.box1 {
  width: 19.125em;
  height: 31.25em;
  background-color: #e28525;
}
.box1 img {
  padding-top: 3.125em;
  padding-left: 2.5em;
}
.box1 h1 {
  font-family: Big Shoulders Display;
  padding-left: 1.25em;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
}
.box1 p {
  font-family: Lexend Decal;
  color: hsla(0, 0%, 100%, 0.75);
  width: 12em;
  height: 7.375em;
  margin: 0 2.2em 0 2.5em;
  line-height: 1.75em;
}

.box2 img {
  padding-top: 3.125em;
  padding-left: 2.5em;
}
.box2 {
  width: 19.125em;
  height: 31.25em;
  background-color: #016972;
}
.box2 h1 {
  font-family: Big Shoulders Display;
  color: hsl(0, 0%, 95%);
  padding-left: 1.25em;
  text-transform: uppercase;
}

.box3 {
  width: 19.125em;
  height: 31.25em;
  background-color: #00403f;
}
.box3 img {
  padding-top: 3.125em;
  padding-left: 2.5em;
}
.box2 p {
  font-family: Lexend Decal;
  color: hsla(0, 0%, 100%, 0.75);
  width: 12em;
  height: 7.375em;
  margin: 0 2.2em 0 2.5em;
  line-height: 1.75em;
}
.box3 h1 {
  font-family: Big Shoulders Display;
  color: hsl(0, 0%, 95%);
  padding-left: 1.25em;
  text-transform: uppercase;
}
.box3 p {
  font-family: Lexend Deca;
  color: hsla(0, 0%, 100%, 0.75);
  width: 12em;
  height: 7.375em;
  margin: 0 2.2em 0 2.5em;
  line-height: 1.5em;
}

/*===============Button styles=====================*/

.button1 {
  width: 9.375em;
  height: 3.125em;
  background-color: hsl(0, 0%, 95%);
  border-radius: 1.25em;
  margin: 5.625em 6.875em 3.125em 2.875em;
  color: #e28525;
  font-weight: 700;
  border-color: #e28525;
}
.button1:hover{
    background-color: #e28525;
    border-color: aliceblue;
    color: aliceblue;
}

.button2 {
  width: 9.375em;
  height: 3.125em;
  background-color: hsl(0, 0%, 95%);
  border-radius: 1.25em;
  margin: 5.625em 6.875em 3.125em 2.875em;
  color: #016972;
  font-weight: 700;
  border-color: #016972;
}
.button2:hover{
    background-color:#016972;
    border-color: aliceblue;
    color: aliceblue;
}
.button3 {
  width: 9.375em;
  height: 3.125em;
  background-color: hsl(0, 0%, 95%);
  border-radius: 1.25em;
  margin: 5.625em 6.875em 3.125em 2.875em;
  color: #00403f;
  font-weight: 700;
  border-color: #00403f;
}
.button3:hover{
    background-color:#00403f;
    border-color: aliceblue;
    color: aliceblue;
}

.attribution{
display: flex;
align-self: flex-end;
position: absolute;
}
